<%= form_for [:admin, @resource], :html => { :class => "form-horizontal node" } do |f| %>

    <% if @resource.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@resource.errors.count, "error") %> prohibited this node from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @resource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-horizontal">
  <div class="form-group">
    <%= f.label :mtx, :class => 'col-sm-2 control-label', multipart: true %>
    <div class="col-sm-10">
      <%= f.file_field :mtx, :class => 'form-control' %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :rhs, :class => 'col-sm-2 control-label', multipart: true %>
    <div class="col-sm-10">
      <%= f.file_field :rhs,  :class => 'form-control' %>
    </div>
  </div>

    <div class="form-group">
    <%= f.label :part_size, :class => 'col-sm-2 control-label', multipart: true %>
      <div class="col-sm-10">
        <%= f.text_field :part_size, value: "1024",  :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group">
    <%= f.label :dim, :class => 'col-sm-2 control-label', multipart: true %>
      <div class="col-sm-10">
        <%= f.text_field :dim, :class => 'form-control' %>
      </div>
    </div>
  </div>
  <div class="col-sm-10 col-sm-offset-2">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              nodes_path, :class => 'btn btn-default' %>
  </div>
<% end %>
