<div class="page-header">
  <h1><%= @resource.name %></h1>
</div>

<%= content_for :title_buttons do %>
  Autoupdate the table? <input type="checkbox" id="autoupdate" <%= 'checked="checked"' if params[:au] == "true" %>/>
<% end %>

<% model_class = Wave %>

Completed:

<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= @resource.percent_complete.to_f %>%;">
  </div>
</div>

<table class="table table-striped dt-noord" id="waves">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:state) %></th>
    <th><%= model_class.human_attribute_name(:created_at) %></th>
    <th><%= model_class.human_attribute_name(:completed) %></th>
    <th><%= model_class.human_attribute_name(:seq) %></th>
    <th><%= model_class.human_attribute_name(:tasks_number) %></th>
    <th><%= model_class.human_attribute_name(:tasks_in_field) %></th>
    <th><%= model_class.human_attribute_name(:tasks_done) %></th>
    <th><%= model_class.human_attribute_name(:reductions) %></th>
  </tr>
  </thead>
  <tbody>
  <% @resource.waves.order(seq: :desc).each do |s| %>
    <tr>
      <td><%= s.state %></td>
      <td><%=l s.created_at %></td>
      <td><%=l(s.completed) if s.completed.present? %></td>
      <td><%= s.seq %></td>
      <td><%= s.tasks_number %></td>
      <td><%= s.tasks_in_field %></td>
      <td><%= s.tasks_done %></td>
      <td><%= s.reductions %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<script type="text/javascript">
  var timeout;
  var delay = 5000;

  function log()
  {
    if($("#autoupdate").is(':checked'))
      Turbolinks.visit('<%= admin_solution_path(@resource, au: true) %>', { change: 'waves' });

    timeout = setTimeout(log, delay);
  }

  $(document).on('change', '#autoupdate', function(){
    clearTimeout(timeout);
    if($("#autoupdate").is(':checked'))
    {
      setTimeout(log, delay);
    }
  });
</script>